%small-bold
  font:
    size: 14px
    weight: 700
  text-transform: uppercase

%background-image
  background:
    repeat: no-repeat, no-repeat
    size: 50px 50px, cover
    position: 30px 50px, 50% 60%
    blend-mode: overlay, normal

@media screen and (max-width: 440px)
    
  %background-image
    background:
      repeat: no-repeat, no-repeat
      size: 50px 50px, cover
      position: 50px 50px, 49% 100%
      blend-mode: overlay, normal
    
  %small-bold
    font:
      size: 12px
      weight: 700
      text-transform: capitalize    
    
    