footer
  @extend %background-image
  background-image: url(../img/#{$logo-path}), url(../img/#{$hero1-path})
  
  .lockup
    padding: 50px 30px
    +clearfix

    .content-wrap
      float: left
      margin-left: 80px

      .copyright
        @extend %xsmall-bold
        margin: 0
        text-align: left
        color: $documentBackgroundColor   
        padding-top: 2em
        
      #dev
        @extend %xsmall-bold
        margin: 0
        text-align: left
        color: $documentBackgroundColor
        transition: all .2s ease-in-out
        
        &:hover
          color: $accent
          transform: scale(1.1)
        
      a
        @extend %small-bold
        color: rgba(0,0,0,0.5)
        display: inline-block
        margin-right: 30px
        transition: all .2s ease-in-out

        &:hover
          color: $accent
          transform: scale(1.1)
        
        
  @media screen and (max-width: 780px)  

  .lockup
    background-color: rgba(0,0,0,0.2)
    padding: 50px 0px
      
    .content-wrap
      margin-left: 40px
            
      a
        color: $documentBackgroundColor
        margin-right: 20px
    
      .copyright
        margin-bottom: -10px
        
        
  @media screen and (max-width: 540px)
    
  .lockup
    background-color: rgba(0,0,0,0.2)
    padding: 40px 0px
      
    .content-wrap
      margin-left: 40px
    
      a
        margin-right: 10px
        font-size: 13px
        
  @media screen and (max-width: 440px)
      
    .content-wrap    
      margin-left: 10px
        
      a
        margin-right: 4px
        font-size: 10px
       